#!/bin/bash

JBOSS_AS_CONF=/etc/jboss-as/jboss-as.conf
JBOSS_INIT=/etc/init.d/jboss-as
JBOSS_PARENT_HOME=/opt
JBOSS_DIR=jboss-eap-6.4
JBOSS_HOME=$JBOSS_PARENT_HOME/$JBOSS_DIR
JBOSS_USER=jbossusr
JBOSS_GROUP=jbossgrp
JBOSS_PASSWORD=jb_xpt0123
JBOSS_CONSOLE_LOG=$JBOSS_HOME/log/console.log

JBOSS_INSTALLER_DIR=$BASE_DIR/../../.backup
JBOSS_INSTALLER=$JBOSS_INSTALLER_DIR/$JBOSS_DIR.0.zip
JBOSS_NATIVE_INSTALLER=$JBOSS_INSTALLER_DIR/jboss-eap-native-6.4.0-RHEL6-x86_64.zip
JBOSS_PATCHES[1]=$JBOSS_INSTALLER_DIR/jboss-eap-6.4.9-patch.zip
JBOSS_PATCHES[2]=$JBOSS_INSTALLER_DIR/BZ-1358913.zip
JBOSS_PATCHED_INSTALLER=$JBOSS_INSTALLER_DIR/$JBOSS_DIR.patched.zip
